<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%=title%></title>
</head>
<body>
    <!-- .menu+.menu-options+(.formulaBar>(input[type="text"])*2) 
        +.cell-container+.sheets -->
    <div class="menu">Menu</div>
    <div class="menu-options">Menu Options</div>
    <div class="formulaBar">Fomula Bar
        <input type="text">
        <input type="text"></div>
    <div class="cell-container">
        <%for(let i=1;i<=rows;i++){ %>
        <div class="row">
            <%for(let j=0;j<cols;j++){%>
            <div class="col" contenteditable=""> 
                <%=''+i +'-'+ String.fromCharCode(65+j)%>
            </div>
        <%}%>
            </div>
            <%}%>
    </div>
    <div class="sheets">

    </div>
</body>
</html>