<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%=title%></title>
</head>

<body>
    <!-- .menu+.menu-options+(.formulaBar>(input[type="text"])*2) 
        +.cell-container+.sheets -->
    <div class="menu">Menu</div>
    <div class="menu-options">Menu Options</div>
    <div class="formulaBar">
        <input type="text" class="text-container ib">
        <input type="text" class="formula-container "></div>
    <div class="cell-container">
        <div id="top-left-cell"></div>
        <div id="top-row">
            <%for(let i=0;i<cols;i++){%>
            <div class="cell">
                <%=String.fromCharCode(i+65)%>
            </div>
            <%}%>
        </div>
        <div id="left-col">
            <%for(let j=1;j<=rows;j++){%>
            <div class="cell">
                <%=j%>
            </div>
            <%}%>
        </div>
        <div id="grid"></div>
    </div>
    <div class="sheets">

    </div>
</body>

</html>